= simple_form_for(@thing) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :feature
    = f.input :abbreviation
    = f.input :description

  .form-actions
    = f.button :submit, data: { disable_with: "Please wait..." }, :class => 'btn btn-primary'
