%h1 Things
%br
%table{:style=>"width: 80%"}
  %thead
    %tr
      %th id
      %th Name
      %th
      %th
      %th

  %tbody
    - @things.each do |thing|
      %tr
        %td= thing.id
        %td= thing.name
        %td= link_to 'Show', thing
        %td= link_to 'Edit', edit_thing_path(thing)
        %td= link_to 'Destroy', thing, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Thing', new_thing_path

