- if user_signed_in?
  %h4 Welcome #{current_user.email}
  %br
  = form_tag things_path, :method => 'get' do
    %p
    = text_field_tag :name
    = text_field_tag :feature
    = text_field_tag :abbreviation
    = submit_tag "Search", :name => nil
  %br
  %br
  = link_to 'New Thing', new_thing_path
- else
  %h1 Welcome