%h1 Editing link

= simple_form_for @link, url: "/links/#{@link.id}?thing_id=#{@thing.id}" do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

  .form-actions
    = f.button :submit

%br
= link_to 'Back', @thing
