= simple_form_for @tag, url: "/tags?thing_id=#{@thing.id}" do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
  .form-actions
    = f.button :submit, data: { disable_with: "Please wait..." }, :class => 'btn btn-primary'
