%h1 New tag

= simple_form_for @tag, url: "/tags?thing_id=#{@thing.id}" do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
  .form-actions
    = f.button :submit

= link_to 'Back', thing_path(@thing)
