= simple_form_for @file_name, url: "/file_names?thing_id=#{@thing.id}" do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :storage

  .form-actions
    = f.button :submit
