%h1 Listing file_names

%table
  %thead
    %tr
      %th Name
      %th Storage
      %th
      %th
      %th

  %tbody
    - @file_names.each do |file_name|
      %tr
        %td= file_name.name
        %td= file_name.storage
        %td= link_to 'Show', file_name
        %td= link_to 'Edit', edit_file_name_path(file_name)
        %td= link_to 'Destroy', file_name, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New File name', new_file_name_path
