= simple_form_for @text, url: "/texts?thing_id=#{@thing.id}" do |f|
  = f.error_notification

  .form-inputs
    = f.input :text, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full', :height => 400, :width => 900}}

  .form-actions
    = f.button :submit
