%h1 Editing text

= simple_form_for @text, url: "/texts/#{@text.id}?thing_id=#{@thing.id}" do |f|
  = f.error_notification

  .form-inputs
    = f.input :text, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full', :uiColor => '#AADC6E',} }

  .form-actions
    = f.button :submit

%br
= link_to 'Back', @thing
