%h1 Editing location

= simple_form_for @location, url: "/locations/#{@location.id}?thing_id=#{@thing.id}" do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

  .form-actions
    = f.button :submit, data: { disable_with: "Please wait..." }, :class => 'btn btn-primary'

%br
= link_to 'Back', @thing
